# Dataset
data/

# Pretrained backbone weights
pretrained/

# Training outputs and checkpoints
outputs/

# Python cache
__pycache__/
*.pyc

# IDE / system files
.vscode/
.idea/
.DS_Store
.ipynb_checkpoints/

# Jupyter cache
.ipynb_checkpoints/
**/.ipynb_checkpoints/
testresult/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
testresult/
test/

/testresult*/
